In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("res_purchase_2014.csv")
df.head()

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Year-Month,Agency Number,Agency Name,Cardholder Last Name,Cardholder First Initial,Description,Amount,Vendor,Transaction Date,Posted Date,Merchant Category Code (MCC)
0,201307,1000,OKLAHOMA STATE UNIVERSITY,Mason,C,GENERAL PURCHASE,890,NACAS,7/30/2013 0:00,7/31/2013 0:00,CHARITABLE AND SOCIAL SERVICE ORGANIZATIONS
1,201307,1000,OKLAHOMA STATE UNIVERSITY,Mason,C,ROOM CHARGES,368.96,SHERATON HOTEL,7/30/2013 0:00,7/31/2013 0:00,SHERATON
2,201307,1000,OKLAHOMA STATE UNIVERSITY,Massey,J,GENERAL PURCHASE,165.82,SEARS.COM 9300,7/29/2013 0:00,7/31/2013 0:00,DIRCT MARKETING/DIRCT MARKETERS--NOT ELSEWHERE...
3,201307,1000,OKLAHOMA STATE UNIVERSITY,Massey,T,GENERAL PURCHASE,96.39,WAL-MART #0137,7/30/2013 0:00,7/31/2013 0:00,"GROCERY STORES,AND SUPERMARKETS"
4,201307,1000,OKLAHOMA STATE UNIVERSITY,Mauro-Herrera,M,HAMMERMILL COPY PLUS COPY EA,125.96,STAPLES DIRECT,7/30/2013 0:00,7/31/2013 0:00,"STATIONERY, OFFICE SUPPLIES, PRINTING AND WRIT..."

In [3]:
df.dtypes

Year-Month                       int64
Agency Number                    int64
Agency Name                     object
Cardholder Last Name            object
Cardholder First Initial        object
Description                     object
Amount                          object
Vendor                          object
Transaction Date                object
Posted Date                     object
Merchant Category Code (MCC)    object
dtype: object

In [4]:
df.Amount = pd.to_numeric(df.Amount, errors = 'coerce')

In [5]:
df.isnull().sum()

Year-Month                      0
Agency Number                   0
Agency Name                     0
Cardholder Last Name            0
Cardholder First Initial        0
Description                     0
Amount                          4
Vendor                          0
Transaction Date                0
Posted Date                     0
Merchant Category Code (MCC)    0
dtype: int64

In [6]:
df = df.fillna(value=0)

In [7]:
df[['Amount']].sum()

Amount    1.880396e+08
dtype: float64

In [8]:
ww_grainger = df[df['Vendor'] == 'WW GRAINGER']

In [9]:
ww_grainger[['Amount']].sum()

Amount    5089417.48
dtype: float64

In [10]:
wm_supercenter = df[df['Vendor'] == 'WM SUPERCENTER']

In [11]:
wm_supercenter[['Amount']].sum()

Amount    31777.83
dtype: float64

In [12]:
groupbymonth_spending_1 = df.groupby('Year-Month').sum()
groupbymonth_spending_1

            Agency Number       Amount
Year-Month
-999               586000    200807.10
 201307        1591554700  15774787.43
 201308        1681836100  17889498.60
 201309        1659761100  17511465.32
 201310        1709992200  17547182.67
 201311        1431449000  13040662.20
 201312        1171715800  11758180.78
 201401        1629022300  14794024.07
 201402        1543106100  13940362.86
 201403        1641412800  17463179.65
 201404        1673184100  16689778.86
 201405        1588970800  14680699.39
 201406        1607666000  16570642.67
 201900            644000    178326.54

Something wrong in the "Year-Month". Use "Transaction Date" instead.

In [13]:
df['Transaction Date'] = pd.to_datetime(df['Transaction Date']).dt.strftime('%Y-%m')

In [14]:
df.dtypes

Year-Month                        int64
Agency Number                     int64
Agency Name                      object
Cardholder Last Name             object
Cardholder First Initial         object
Description                      object
Amount                          float64
Vendor                           object
Transaction Date                 object
Posted Date                      object
Merchant Category Code (MCC)     object
dtype: object

In [15]:
groupbymonth_spending_2 = df.groupby('Transaction Date').sum()
groupbymonth_spending_2

                  Year-Month  Agency Number       Amount
Transaction Date
2013-04               402617          64200       -41.82
2013-05              2013071         346600      5303.80
2013-06            566880514      111822300   1590299.49
2013-07           7445140269     1570242200  16730979.69
2013-08           8037224685     1711597900  18356785.93
2013-09           7568012257     1605279500  15023746.64
2013-10           8180837864     1722328700  17684290.96
2013-11           6588105111     1372658800  12479196.60
2013-12           5505351266     1184376400  12020167.56
2014-01           7764816298     1691093100  15282377.44
2014-02           7255712285     1551539500  14742056.50
2014-03           7511356037     1601278600  16679058.49
2014-04           8087178563     1715495300  16874214.44
2014-05           7350585451     1596751100  14890870.29
2014-06           7110034612     1496026800  15680292.13

In [16]:
groupbymonth_spending_2.drop(columns=['Year-Month', 'Agency Number'])

                       Amount
Transaction Date
2013-04                -41.82
2013-05               5303.80
2013-06            1590299.49
2013-07           16730979.69
2013-08           18356785.93
2013-09           15023746.64
2013-10           17684290.96
2013-11           12479196.60
2013-12           12020167.56
2014-01           15282377.44
2014-02           14742056.50
2014-03           16679058.49
2014-04           16874214.44
2014-05           14890870.29
2014-06           15680292.13

In [17]:
groupbymonth_spending_2['Amount'].std()

6448963.633940547